// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
	background: transparent;
	color: $fg-color;
	font-family: "DepartureMono Nerd Font Mono";

	#root {
		margin: 20px;
		margin-right: 3px;
	}

	.islands {
		> * {
			margin-top: 1rem;
		}
		> *:nth-child(1) {
			margin-top: 0;
		}
	}

	.island {
		min-height: 2.6rem;
		border-radius: 100px;
		background-color: $bg-color;
	}

	#system > label {
		font-size: 2rem;
	}

	#workspaces > button {
		padding-top: 0;
		padding-bottom: 0;

		&:nth-child(1) {
			padding-top: 0.6rem;
		}
		&:nth-last-child(1) {
			padding-bottom: 0.6rem;
		}

		> label {
			font-size: 1.4rem;
		}
	}

	button {
		border-radius: 100px;

		&:not(:hover):not(:checked) {
			background-color: transparent;
		}
	}
}
