// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
	background: transparent;
	color: $fg-color;
	font-weight: bold;

	#root {
		margin: 20px;
		margin-right: 3px;
	}

	.island {
		background-color: $bg-color;
		border-radius: 100px;
	}

	#battery > circ-prog {
		margin-top: 8px;
		margin-bottom: 8px;
	}

	button {
		border-radius: 100px;

		&:not(:hover):not(:checked) {
			background-color: transparent;
		}
	}
}
